<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>👽Registro👽</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full" >
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input type="date"><ion-label position="floating">Fecha</ion-label></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" #password required></ion-input>
      
    </ion-item>
    
    <ion-item lines="full">
      <ion-label position="floating">Repetir contraseña</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" clearInput></ion-input>
      <ion-icon name="eye" slot="end" (click)="togglePassword()"></ion-icon>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button
        color="primary"
          type="submit"
          
          expand="block"
          >Registro</ion-button
        >
      </ion-col>
      
    </ion-row>
  </form>
</ion-content>
