<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>👽Inicio de sesión👽</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-label position="floating">Correo electrónico</ion-label>
    <ion-input type="text" #email required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" #password required></ion-input>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button type="submit"  expand="block"
        >Inicio de sesión</ion-button
      >
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button
        type="submit"
        color="danger"
        
        expand="block"
      >
        Inicio con Google
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
